@model EventoWeb.Models.ModelocrachaModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="blue-normal">Detalhes do Modelo</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEvento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeEvento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Texto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Texto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logotipo)
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.LogotipoBase64))
            {
                <img src="data:image/png;base64,@Model.LogotipoBase64" alt="Logotipo" style="width:200px;height:200px;object-fit:contain;" />
            }
            else
            {
                <span>Sem logotipo</span>
            }
        </dd>
        <dt class="col-sm-2">
            QR Codes
        </dt>
        <dd class="col-sm-10">
            @if (Model.QrCodes != null && Model.QrCodes.Any())
            {
                @foreach (var qrCode in Model.QrCodes)
                {
                    <img src="data:image/png;base64,@qrCode" alt="QR Code" style="width:200px;height:200px;object-fit:contain;" />
                    <br />
                }
            }
            else
            {
                <span>Sem QR Codes</span>
            }
        </dd>
    </dl>
</div>

<div>
    <div class="row">
        <div class="col-1">
            <div>
                <a href="@Url.Action("Index", "Modelocracha", new { idEvento = Model.IdEvento})" class="btn btn-outline-danger">Voltar</a>
            </div>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-blue-normal" onclick="location.href='@Url.Action("Edit", new { id = Model.Id })'">
                Editar
            </button>
        </div>
    </div>
</div>
