@model IEnumerable<EventoWeb.Models.ModelocrachaModel>

@{
    ViewData["Title"] = "Index";
}


<!DOCTYPE html>
<html lang="pt-BR">

<div>
    <h1 class="blue-normal">Modelos de crachas disponiveis</h1>

    <button type="button" class="btn btn-lg btn-blue-normal mb-2"
            onclick="location.href='@Url.Action("Create")'">
        Adcionar modelo
    </button>
    <table class="table table-striped">
        <thead class="blue-normal blue-normal-bg-table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdEvento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Texto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Logotipo)
                </th>

                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeEvento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Texto)
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.LogotipoBase64))
                        {
                            <img src="data:image/png;base64,@item.LogotipoBase64" alt="Logotipo" style="width:200px;height:100px;object-fit:contain;" />
                        }
                    </td>


                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @style = "text-decoration:none;" })
                        &nbsp;&nbsp;
                        @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @style = "text-decoration:none;" })
                        &nbsp;&nbsp;
                        @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @style = "text-decoration:none;", @class = "danger-normal" })
                        &nbsp;&nbsp;
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn-blue-normal btn btn-lg mb-2 ">
            <a asp-controller="Evento" asp-action="Index" asp-route-idEvento="@ViewData["EventoId"]" style="text-decoration:none; color:white">Voltar</a>
        </button>
    </div>
</div>