@model IEnumerable<EventoWeb.Models.ModelocrachaModel>

@{
    ViewData["Title"] = "Index";
}
<link href="~/lib/datatable/css/datatables.min.css" rel="stylesheet" />
<style>
    .dataTables_filter {
        float: right;
        margin-bottom: 16px;
    }

    .dataTables_length {
        float: left;
        margin-bottom: 16px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0.2em 0.5em;
        margin-left: 2px;
        color: white !important;
        background-color: #232ed0;
        border: none;
        border-radius: 3px;
    }

        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background-color: #232ed0;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button.current {
            background-color: #232ed0;
            color: white !important;
        }

    .dataTables_filter input:focus {
        border-color: #232ed0;
        box-shadow: none;
        outline: none;
    }
</style>

<div>
    <h1 class="blue-normal">Modelos de crachas disponiveis</h1>
    <button type="button" class="btn-blue-normal btn btn-lg mb-2">
        <a asp-action="Create" asp-route-idEvento="@ViewData["EventoId"]" style="text-decoration:none; color:white">Adcionar modelo</a>
    </button>
    <br />
    <table id="tableModeloCracha" class="table table-striped">
        <thead class="blue-normal blue-normal-bg-table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdEvento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Texto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Logotipo)
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeEvento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Texto)
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.LogotipoBase64))
                        {
                            <img src="data:image/png;base64,@item.LogotipoBase64" alt="Logotipo" style="width:200px;height:100px;object-fit:contain;" />
                        }                                            
                        else
                        {
                            <span>Sem logotipo</span>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @style = "text-decoration:none;" })
                        &nbsp;&nbsp;
                        @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @style = "text-decoration:none;" })
                        &nbsp;&nbsp;
                        @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @style = "text-decoration:none;", @class = "danger-normal" })
                        &nbsp;&nbsp;
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <div class="d-flex justify-content-end">
        <button type="button" class="btn-blue-normal btn btn-lg mb-2 ">
            <a asp-controller="Evento" asp-action="GerenciarEvento" asp-route-idEvento="@ViewData["EventoId"]" style="text-decoration:none; color:white">Voltar</a>
        </button>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatable/js/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tableModeloCracha').DataTable({
                columnDefs: [
                    { orderable: true, targets: [0] },
                    { orderable: false, targets: [1, 2, 3] },
                ],
                searching: true,
                ordering: true,
                paging: true,
                language: {
                    url: '@Url.Content("~/lib/datatable/js/pt-BR.json")'
                }
            });
        });
    </script>
}