@model EventoWeb.Models.ParticipanteModel

@{
    ViewData["Title"] = "Excluir Participante"; // Ajuste o título para refletir a ação
}

<!DOCTYPE html>
<html lang="pt-BR">
<body>
    <div class="container-fluid no-padding">
        <div class="row">
            <h1 class="blue-normal">Excluir Participante</h1>
            <div>
                <h3>Certeza que deseja excluir este participante?</h3>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Participante.Nome)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Participante.Nome)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Participante.NomeCracha)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Participante.NomeCracha)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Participante.Cpf)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Participante.Cpf)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Participante.Sexo)
                    </dt>
                    <dd class="col-sm-10">
                        @{
                            string sexoDescricao = "Desconhecido";
                            switch (Model.Participante.Sexo)
                            {
                                case "M":
                                    sexoDescricao = "Masculino";
                                    break;
                                case "F":
                                    sexoDescricao = "Feminino";
                                    break;
                                case "N":
                                    sexoDescricao = "Prefiro não dizer";
                                    break;
                            }
                        }
                        @sexoDescricao
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Participante.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Participante.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Participante.Telefone1)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Participante.Telefone1)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Participante.Telefone2)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Participante.Telefone2)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Participante.Cep)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Participante.Cep)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Participante.Estado)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Participante.Estado)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Participante.Cidade)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Participante.Cidade)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Participante.Bairro)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Participante.Bairro)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Participante.Rua)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Participante.Rua)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Participante.Numero)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Participante.Numero)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Participante.Complemento)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Participante.Complemento)
                    </dd>
                </dl>
            </div>
            <form asp-action="Delete" asp-route-id="@Model.Participante.Cpf" method="post">
                @Html.AntiForgeryToken()
                @* Removido <input type="hidden" asp-for="Participante.Id" /> pois o ID será passado pela rota *@

                <div class="d-flex justify-content-end">
                    <div class="d-flex flex-row">
                        <div class="form-group" style="margin-right: 10px;">
                            <input type="submit" value="Excluir" class="btn btn-danger" />
                        </div>
                        <div class="form-group">
                            <a asp-controller="Participante" asp-action="Index" class="btn btn-outline-primary">Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>