@model IEnumerable<EventoWeb.Models.PessoaModel>

@{
    ViewData["Title"] = "Index";
}

<link href="~/lib/datatable/css/datatables.min.css" rel="stylesheet" />

<div>
    <h1 class="blue-normal">Seja Bem-vindo</h1>
    <button type="button" class="btn btn-lg btn-blue-normal mb-2"
            onclick="location.href='@Url.Action("Create")'">
        Adcionar pessoa
    </button>
    <table id="tablePessoa" class="table table-striped">
        <thead class="blue-normal blue-normal-bg-table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cpf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sexo)
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cpf)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @{
                            string sexoDescricao = "Desconhecido";
                            switch (item.Sexo)
                            {
                                case "M":
                                    sexoDescricao = "Masculino";
                                    break;
                                case "F":
                                    sexoDescricao = "Feminino";
                                    break;
                                case "N":
                                    sexoDescricao = "Prefiro não dizer";
                                    break;
                            }
                        }
                        @sexoDescricao
                    <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @style = "text-decoration:none;" })
                        &nbsp;&nbsp;
                            @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @style = "text-decoration:none;" })
                        &nbsp;&nbsp;
                            @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @style = "text-decoration:none;", @class = "danger-normal" })
                        &nbsp;&nbsp;
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatable/js/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tablePessoa').DataTable({
                columnDefs: [
                    { orderable: true, targets: [0] },
                    { orderable: false, targets: [1, 2, 3, 4] }
                ],
                searching: true,
                ordering: true,
                paging: true,
                language: {
                    url: '@Url.Content("~/lib/datatable/js/pt-BR.json")'
                }
            });
        });
    </script>
}
