@model TipoInscricaoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tipoinscricao</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEvento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEvento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Datafim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Datafim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsadaEvento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsadaEvento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsadaSubevento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsadaSubevento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>