@model IEnumerable<TipoInscricaoModel>

@{
	ViewData["Title"] = "Index";
}

<link href="~/lib/datatable/css/datatables.min.css" rel="stylesheet" />

<div>
	<h1 class="blue-normal">Verifique os Tipos de Inscrição de seus Eventos!</h1>
	<button type="button" class="btn-blue-normal btn btn-lg mb-2">
		<a asp-action="Create" asp-route-idEvento="@ViewData["EventoId"]" style="text-decoration:none; color:white">Novo Tipo de Inscrição</a>
	</button>
	<table id="tableTipoInscricao" class="table table-striped">
		<thead class="blue-normal blue-normal-bg-table">
			<tr>
				<th>@Html.DisplayNameFor(Model => Model.Nome)</th>
				<th>@Html.DisplayNameFor(model => model.Descricao)</th>
				<th>@Html.DisplayNameFor(model => model.NomeEvento)</th>
				<th>@Html.DisplayNameFor(model => model.Valor)</th>
				<th>@Html.DisplayNameFor(model => model.DataInicio)</th>
				<th>@Html.DisplayNameFor(model => model.Datafim)</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@Html.DisplayFor(modelItem => item.Nome)</td>
					<td>@Html.DisplayFor(modelItem => item.Descricao)</td>
					<td>@Html.DisplayFor(modelItem => item.NomeEvento)</td>
					<td>@Html.DisplayFor(modelItem => item.Valor)</td>
					<td>@Html.DisplayFor(modelItem => item.DataInicio)</td>
					<td>@Html.DisplayFor(modelItem => item.Datafim)</td>
					<td>
						@Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @style = "text-decoration:none;" })
						&nbsp;&nbsp;
						@Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @style = "text-decoration:none;", @class = "danger-normal" })
					</td>
				</tr>
			}

		</tbody>
	</table>
	<div class="d-flex justify-content-end">
		<button type="button" class="btn-blue-normal btn btn-lg mb-2 ">
			<a asp-controller="Evento" asp-action="GerenciarEvento" asp-route-idEvento="@ViewData["EventoId"]" style="text-decoration:none; color:white">Voltar</a>
		</button>
	</div>

</div>

@section Scripts {
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/datatable/js/datatables.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#tableTipoInscricao').DataTable({
				columnDefs: [
					{ orderable: true, targets: [0, 1, 2, 3, 4, 5] },
					{ orderable: false, targets: [6] }
				],
				searching: true,
				ordering: true,
				paging: true,
				language: {
					url: '@Url.Content("~/lib/datatable/js/pt-BR.json")'
				}
			});
		});
	</script>
}
