@model IEnumerable<TipoInscricaoModel>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>

<div>
    <div class="breadcrumb">
        <p style="color:#6C757D;display:inline-block">Tipo de Inscrição</p>
    </div>

    <h1 class="blue-normal">Verifique os Tipos de Inscrição de seus Eventos!</h1>
    <h3>Tipos de Inscrição</h3>

    <table class="table table-striped">
        <thead class="blue-normal blue-normal-bg-table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeEvento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Datafim)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsadaEvento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsadaSubevento)
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeEvento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Datafim)
                    </td>
                    <td>
                        @{
                            string usadaEvento = "Desconhecido";
                            switch (item.UsadaEvento)
                            {
                                case 2:
                                    usadaEvento = "Não";
                                    break;
                                case 1:
                                    usadaEvento = "Sim";
                                    break;
                            }
                        }
                        @usadaEvento
                    </td>
                    <td>
                        @{
                            string usadaSubvento = "Desconhecido";
                            switch (item.UsadaSubevento)
                            {
                                case 2:
                                    usadaSubvento = "Não";
                                    break;
                                case 1:
                                    usadaSubvento = "Sim";
                                    break;
                            }
                        }
                        @usadaSubvento
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @style = "text-decoration:none;" }) |
                        @{
                            var deleteModel = new EventoWeb.Models.DeleteModel
                {
                    ModalId = "deleteModal-" + item.Id,
                    ActionName = "Delete",
                    ControllerName = "TipoInscricao",
                    RouteValues = item.Id,
                    ConfirmMessage = $"Tem certeza que deseja excluir o tipo de inscrição \"{item.Descricao}\" do evento \"{item.NomeEvento}\"?",
                    ItemName = item.Descricao
                };
                        }

                        <a class="danger-normal" style="text-decoration:none;" href="#!" data-toggle="modal" data-target="#@deleteModel.ModalId">Excluir</a>
                        @await Html.PartialAsync("_DeleteModal", deleteModel)

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h3 class="blue-normal ">Defina um novo Tipo de Inscrição ao seu Evento!</h3>
    <button type="button" class="btn btn-lg btn-blue-normal text-white ">
        <a asp-action="Create" class="text-white" style="text-decoration:none;">
            Criar Tipo de Inscrição
        </a>
    </button>
</div>

