@model IEnumerable<TipoInscricaoModel>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>

<div>
    <div class="breadcrumb">
        <a asp-controller="Home" asp-action="Index" style="text-decoration:none; padding-right:6px">
            <p class="blue-normal" style="color:#0D6EFD; display:inline-block">Home</p>
        </a>

        <p style="color:#6C757D;display:inline-block">/ Tipo de Inscrição</p>
    </div>

    <h1 class="blue-normal">Verifique os Tipos de Inscrição de seus Eventos!</h1>
    <h3>Tipos de Inscrição</h3>

    <table class="table table-striped">
        <thead class="blue-normal blue-normal-bg-table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeEvento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Datafim)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsadaEvento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsadaSubevento)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeEvento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Datafim)
                    </td>
                    <td>
                        @{
                            string usadaEvento = "Desconhecido";
                            switch (item.UsadaEvento)
                            {
                                case 0:
                                    usadaEvento = "Não";
                                    break;
                                case 1:
                                    usadaEvento = "Sim";
                                    break;
                            }
                        }
                        @usadaEvento
                    </td>
                    <td>
                        @{
                            string usadaSubvento = "Desconhecido";
                            switch (item.UsadaSubevento)
                            {
                                case 0:
                                    usadaSubvento = "Não";
                                    break;
                                case 1:
                                    usadaSubvento = "Sim";
                                    break;
                            }
                        }
                        @usadaSubvento
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @style = "text-decoration:none;" }) |
                        @Html.ActionLink("Deletar", "Delete", new { id = item.Id }, new { @style = "color:#f31260; text-decoration:none;" })

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h3 class="blue-normal ">Defina um novo Tipo de Inscrição ao seu Evento!</h3>
    <button type="button" class="btn btn-lg btn-blue-normal text-white ">
        <a asp-action="Create" class="text-white" style="text-decoration:none;">
            Criar Tipo de Inscrição
        </a>
    </button>
</div>

