@using System.Reflection.Metadata
@using Core
@model EventoWeb.Models.ParticipanteModel

@{
    ViewData["Title"] = "Associar Participantes ao Evento";
}

<h1>Cadastrar Participantes ao Evento</h1>
<script>
    function validarFormulario() {
        var eventoSelecionado = document.getElementById("IdEvento").value;
        if (eventoSelecionado == 0) {
            alert("Por favor, selecione um evento.");
            return false; // Impede o envio do formulário
        }
        return true; // Permite o envio do formulário
    }
</script>

<div class="row">
    <div class="col-md-6">
        <form asp-action="CreateParticipante" method="post" onsubmit="return validarFormulario()">
            <div class="form-group">
                <label for="IdEvento" class="control-label">Evento</label>
                <select id="IdEvento" name="IdEvento" class="form-control" readonly>
                    @if (Model.Evento == null || Model.Evento.Id == 0)
                    {
                        <option value="0">Não Informado</option>
                    }
                    else
                    {
                        <option value="@Model.Evento.Id" selected>@Model.Evento.Nome</option>
                    }
                </select>
                @Html.HiddenFor(model => model.Evento.Id)
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Cpf" class="control-label">CPF</label>
                <input asp-for="Pessoa.Cpf" class="form-control" id="Cpf" />
                <span asp-validation-for="Pessoa.Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Nome" class="control-label">Nome</label>
                <input asp-for="Pessoa.Nome" class="form-control" id="Nome" />
                <span asp-validation-for="Pessoa.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Telefone1" class="control-label">Telefone</label>
                <input asp-for="Pessoa.Telefone1" class="form-control" id="Telefone1" />
                <span asp-validation-for="Pessoa.Telefone1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Email" class="control-label">Email</label>
                <input asp-for="Pessoa.Email" class="form-control" id="Email" />
                <span asp-validation-for="Pessoa.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar Participante" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Lista de Participantes do Evento</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var inscricaopessoaevento in Model.Inscricoes)
                {
                    <tr>
                        <td>@inscricaopessoaevento.IdPessoaNavigation.Cpf</td>
                        <td>@inscricaopessoaevento.IdPessoaNavigation.Nome</td>
                        <td>

                            @using (Html.BeginForm("DeletePessoaPapel", "Evento", new { IdPessoa = inscricaopessoaevento.IdPessoa, IdEvento = inscricaopessoaevento.IdEvento }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');" />
                            }
                        </td>
                    </tr>
                }
        </table>
    </div>
</div>