@model EventoWeb.Models.EventoModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid no-padding">
    <div class="row">
        <h1 class="blue-normal">Excluir Evento</h1>
        <div>
            <h3>Certeza que deseja excluir este Evento?</h3>
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Descricao)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Descricao)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DataInicio)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DataInicio)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DataFim)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DataFim)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.InscricaoGratuita)
                </dt>
                <dd class="col-sm-8">
                    @{
                        string inscricaoGratuita = "Desconhecido";
                        switch (Model.InscricaoGratuita)
                        {
                            case 1:
                                inscricaoGratuita = "Sim";
                                break;
                            case 0:
                                inscricaoGratuita = "Não";
                                break;

                        }
                    }
                    @inscricaoGratuita
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-8">
                    @{
                        string statusDescricao = "Desconhecido";
                        switch (Model.Status)
                        {
                            case "A":
                                statusDescricao = "Ativo";
                                break;
                            case "C":
                                statusDescricao = "Cadastro";
                                break;
                            case "F":
                                statusDescricao = "Finalizado";
                                break;
                            case "I":
                                statusDescricao = "Inativo";
                                break;

                        }
                    }
                    @statusDescricao
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DataInicioInscricao)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DataInicioInscricao)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DataFimInscricao)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DataFimInscricao)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ValorInscricao)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ValorInscricao)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Website)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Website)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.EmailEvento)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.EmailEvento)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.EventoPublico)
                </dt>
                <dd class="col-sm-8">
                    @{
                        string eventoPublico = "Desconhecido";
                        switch (Model.EventoPublico)
                        {
                            case 1:
                                eventoPublico = "Sim";
                                break;
                            case 0:
                                eventoPublico = "Não";
                                break;

                        }
                    }
                    @eventoPublico
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Cep)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Cep)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Estado)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Estado)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Cidade)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Cidade)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Bairro)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Bairro)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Rua)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Rua)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Numero)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Numero)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Complemento)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Complemento)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PossuiCertificado)
                </dt>
                <dd class="col-sm-8">
                    @{
                        string possuiCertificado = "Desconhecido";
                        switch (Model.PossuiCertificado)
                        {
                            case 1:
                                possuiCertificado = "Sim";
                                break;
                            case 0:
                                possuiCertificado = "Não";
                                break;

                        }
                    }
                    @possuiCertificado
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FrequenciaMinimaCertificado)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FrequenciaMinimaCertificado)
                </dd>
                <dt class="col-sm-4">
                    Tipo de Evento
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.NomeTipoEvento)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.VagasOfertadas)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.VagasOfertadas)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.VagasReservadas)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.VagasReservadas)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.VagasDisponiveis)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.VagasDisponiveis)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.TempoMinutosReserva)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.TempoMinutosReserva)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.CargaHoraria)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CargaHoraria)
                </dd>
            </dl>
            <form asp-action="Delete" class="row">
                <div class="d-flex flex-row-reverse">
                    <div class="form-group">
                        <input type="submit" value="Excluir" class="btn btn-danger" />
                    </div>
                    <div class="form-group" style="margin-right: 10px;">
                        <a asp-action="Index" class="btn btn-outline-blue-normal">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
