@model EventoModel

<link rel="stylesheet" type="text/css" href="~/css/_gerenciareventolistar.css">

@{
    ViewData["Title"] = "GerenciarEventoListar";
}

<h1 class="blue-normal">Gerenciar evento</h1>
<span>Nome: @Model.Nome</span>
<p>Data: @Model.DataInicio</p>
<div class="container">
    <div class="card">
        <img src="~/ícones/Inscricoes.png" class="card-img-bottom" alt="...">
        <div class="card-img-overlay">
            <td>
                @Html.ActionLink("Tipo Inscrição", "Index", "TipoInscricao", new { idEvento = @Model.Id}, new { @style = "text-decoration:none;" })
            </td>
        </div>
    </div>
    
    <div class="card">
        <img src="~/ícones/Participantes.png" class="card-img-bottom" alt="...">
        <div class="card-img-overlay">
                <td>
                    @Html.ActionLink("Participantes", "CreatePessoaPapel", new { idEvento = @Model.Id, idPapel = 4 }, new { @style = "text-decoration:none;" })
                </td>
        </div>
    </div>
    
    
    <div class="card">
        <img src="~/ícones/Colaboradores.png" class="card-img-bottom" alt="...">
        <div class="card-img-overlay">
                <td>
                    
                    @Html.ActionLink("Colaboradores", "CreatePessoaPapel", new { idEvento = @Model.Id, idPapel = 3 }, new { @style = "text-decoration:none;" })
                </td>
        </div>
    </div>
    
    <div class="card">
        <img src="~/ícones/Evento.png" class="card-img-bottom" alt="...">
        <div class="card-img-overlay">
                <td>
                    @Html.ActionLink("Evento", "GestorEditarEvento", new { id = @Model.Id }, new { @style = "text-decoration:none;" })
                </td>
        </div>
    </div>
    
    <div class="card">
        <img src="~/ícones/Subeventos.png" class="card-img-bottom" alt="...">
        <div class="card-img-overlay">
                <td>
                    @Html.ActionLink("Subeventos", "CreateOrEdit", "Subevento", new { idEvento = @Model.Id }, new { @style = "text-decoration:none;" })
                </td>
        </div>
    </div>
    
</div>