@model IEnumerable<EventoWeb.Models.EventoModel>

@{
    ViewData["Title"] = "Index";
}


<!DOCTYPE html>
<html lang="pt-BR">

<div>
	<h1 class="blue-normal">Seja Bem-vindo</h1>
	<h3>Confira os eventos do sistema!</h3>
	<button type="button" class="btn btn-lg btn-blue-normal mb-2"
			onclick="location.href='@Url.Action("Create")'">
		Novo evento
	</button>
	<table class="table table-striped">
		<thead class="blue-normal blue-normal-bg-table">
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.DataInicio)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Nome)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Status)
				</th>
				<th>
					Tipo do Evento
				</th>
				<th>
					Ações
				</th>
			</tr>
		</thead>
		<tbody>
@foreach (var item in Model)
{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.DataInicio)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Nome)
					</td>
					<td>
			@{
				string statusDescricao = "Desconhecido";
				switch (item.Status)
				{
					case "A":
						statusDescricao = "Ativo";
						break;
					case "C":
						statusDescricao = "Cadastro";
						break;
					case "F":
						statusDescricao = "Finalizado";
						break;
					case "I":
						statusDescricao = "Inativo";
						break;
				}
			}
			@statusDescricao
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.NomeTipoEvento)
					</td>
					<td>
						@Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @style = "text-decoration:none;" })
						&nbsp;&nbsp;
						@Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @style = "text-decoration:none;", @class = "danger-normal" })
						&nbsp;&nbsp;
						@Html.ActionLink("Tipo Inscrição", "Index", "TipoInscricao", new { idEvento = item.Id, idPapel = 2 }, new { @style = "text-decoration:none;" })
						&nbsp;&nbsp;
						@Html.ActionLink("Gestores", "CreatePessoaPapel", new { idEvento = item.Id,idPapel = 2 }, new { @style = "text-decoration:none;" })
						&nbsp;&nbsp;
						@Html.ActionLink("Colaboradores", "CreatePessoaPapel", new { idEvento = item.Id, idPapel = 3}, new { @style = "text-decoration:none;" })
						&nbsp;&nbsp;
						@Html.ActionLink("Participantes", "CreatePessoaPapel", new { idEvento = item.Id,idPapel = 4 }, new { @style = "text-decoration:none;" })

						@Html.ActionLink("Subeventos", "CreateOrEdit","Subevento", new { idEvento = item.Id}, new { @style = "text-decoration:none;" })
						@Html.ActionLink("Crachas", "Create", "Modelocracha", new { idEvento = item.Id }, new { @style = "text-decoration:none;" })

					</td>
				</tr>
}
		</tbody>
	</table>
	
</div>