@model IEnumerable<EventoWeb.Models.EventoModel>

@{
    ViewData["Title"] = "Index";
}

<div>
	<h1 class="blue-normal">Seja Bem-vindo</h1>
	<h3>Confira os eventos do sistema!</h3>
	<table class="table table-striped">
		<thead class="blue-normal blue-normal-bg-table">
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Id)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.DataInicio)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Nome)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Status)
				</th>
				<th>
					Tipo do Evento
				</th>
				<th>
					Ações
				</th>
			</tr>
		</thead>
		<tbody>
@foreach (var item in Model)
{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Id)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DataInicio)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Nome)
					</td>
					<td>
			@{
				string statusDescricao = "Desconhecido";
				switch (item.Status)
				{
					case "A":
						statusDescricao = "Ativo";
						break;
					case "C":
						statusDescricao = "Cadastro";
						break;
					case "F":
						statusDescricao = "Finalizado";
						break;
					case "I":
						statusDescricao = "Inativo";
						break;
				}
			}
			@statusDescricao
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.NomeTipoEvento)
					</td>
					<td>
						@Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @style = "text-decoration:none;" }) |
						@Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @style = "text-decoration:none;" }) |
						<a class="danger-normal" style="text-decoration:none;" href="#!" data-toggle="modal" data-target="#deleteModal-@item.Id">Delete</a>
			@await Html.PartialAsync("_DeleteModal", item) |
						@Html.ActionLink("Gestores", "CreateGestorEvento", new { id = item.Id }, new { @style = "text-decoration:none;" })
						|
						@Html.ActionLink("Participantes", "CreateParticipante", new { id = item.Id }, new { @style = "text-decoration:none;" })
					</td>
				</tr>
}
		</tbody>
	</table>
	<h3 class="blue-normal">Publique um novo evento</h3>
	<button type="button" class="btn btn-lg btn-blue-normal"
			onclick="location.href='@Url.Action("Create")'">
		Criar evento
	</button>