@model IEnumerable<EventoWeb.Models.PessoaModel>

<link href="~/lib/datatable/css/datatables.min.css" rel="stylesheet" />
<h1 class="blue-normal">Cadastrar Administradores</h1>
<div class="row">
    <div> 
        <!--colocar formulárioaqui -->
        <button type="button" class="btn btn-lg btn-blue-normal mb-3"
                onclick="location.href='@Url.Action("Create")'">
            Adicionar Administrador
        </button>
    </div>
</div>
   
<div class="row">
    <div class="col-md-12">
        <h2 class="blue-normal">Lista de Gestores do Evento</h2>
        <table class="table table-striped">
            <thead class="blue-normal blue-normal-bg-table">
                <tr>
                    <th>@Html.DisplayNameFor(m => m.First().Nome)</th>
                    <th>@Html.DisplayNameFor(m => m.First().Cpf)</th>
                    <th>@Html.DisplayNameFor(m => m.First().Email)</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="vertical-align: middle;">@FormatarCPF(@item.Cpf)</td>
                        <td style="vertical-align: middle;">@item.Nome</td>
                        <td style="vertical-align: middle;">@item.Email</td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-link" })
                            &nbsp;
                            @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-link" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@functions {
    public static string FormatarCPF(string cpf)
    {
        if (string.IsNullOrEmpty(cpf) || cpf.Length != 11)
            return cpf;

        return Convert.ToUInt64(cpf).ToString(@"000\.000\.000\-00");
    }
}
    
