@model  IEnumerable<EventoWeb.Models.PessoaModel>

@{
    ViewData["Title"] = "Index";
}

<link href="~/lib/datatable/css/datatables.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <table id="tablePessoa" class="table table-striped">
            <thead class="blue-normal blue-normal-bg-table">
                <tr>
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="vertical-align: middle;">@FormatarCPF(@item.Cpf)</td>
                        <td style="vertical-align: middle;">@item.Nome</td>
                        <td>
                            <div class="d-flex flex-wrap gap-2">
                                <form id="@(item.Id + "_confirmar")" asp-action="Delete"  asp-route-id="@item.Id">
                                   <button type="button" class="btn btn-danger" onclick="showModal('@(item.Id + "_confirmar")','modalExcluir')" data-bs-toggle="modal" data-bs-target="#modalExcluir" data-bs-id="@item.Id">Excluir</button>
                                </form>
                                <form id="@(item.Id + "_redefinir")" asp-action="EnviarEmailSenha" asp-route-id="@item.Id">
                                    <button type="button" class="btn btn-secondary" onclick="showModal('@(item.Id + "_redefinir")','modalMudarSenha')" data-bs-toggle="modal" data-bs-target="#modalMudarSenha" data-bs-id="@item.Id">Mudar Senha</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex flex-row-reverse mt-4 mb-4">
            <a asp-controller="Home" asp-action="Index" class="btn btn-lg btn-blue-normal">Voltar</a>
        </div>
    </div>
</div>




<div class="modal fade" id="modalExcluir" tabindex="-1" role="dialog" aria-labelledby="modalExcluirPessoa" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title justify-content-center" id="exampleModalLongTitle">Confirmar exclusão</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body text-center">
                <h4>Tem certeza que deseja excluir?</h4>
                <span class="text-danger fw-bold small">
                    Essa operação não pode ser desfeita.
                </span>

            </div>
            <form method="post" class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Não</button>
                <button type="submit" class="btn btn-danger" id="btnConfirmarExclusao">Sim</button>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalMudarSenha" tabindex="-1" role="dialog" aria-labelledby="modalMudarSenhaPessoa" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title justify-content-center" id="exampleModalLongTitle">Confirmar mudança de senha</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body text-center">
                <h4>Tem certeza que deseja mudar a senha?</h4>
                <span class="text-black-50 fw-bold small">
                    Essa pessoa vai receber um e-mail para redefinir a senha.
                </span>

            </div>
            <form method="post" class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-danger" id="btnConfirmarMudanca">Sim</button>
            </form>
        </div>
    </div>
</div>


@functions {

    public static string FormatarCPF(string cpf)
    {
        if (string.IsNullOrEmpty(cpf) || cpf.Length != 11)
            return cpf;

        return Convert.ToUInt64(cpf).ToString(@"000\.000\.000\-00");
    }

}
