@model IEnumerable<EventoWeb.Models.PessoaModel>

@{
    ViewData["Title"] = "Index";
}

<div>
    <h1 class="blue-normal">Seja Bem-vindo</h1>
    <button type="button" class="btn btn-lg btn-blue-normal mb-2"
            onclick="location.href='@Url.Action("Create")'">
        Adcionar pessoa
    </button>
    <table class="table table-striped">
        <thead class="blue-normal blue-normal-bg-table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cpf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sexo)
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
    <tbody>
		<tbody>
				@foreach (var item in Model)
				{
				<tr>
					<td>
							@Html.DisplayFor(modelItem => item.Nome)
					</td>
					<td>
							@Html.DisplayFor(modelItem => item.Cpf)
					</td>
					<td>
							@Html.DisplayFor(modelItem => item.Email)
					</td>
					<td>
							@{
								string sexoDescricao = "Desconhecido";
								switch (item.Sexo)
								{
									case "M":
										sexoDescricao = "Masculino";
										break;
									case "F":
										sexoDescricao = "Feminino";
										break;
									case "N":
										sexoDescricao = "Prefiro não dizer";
										break;
								}
							}
							@sexoDescricao
					<td>
							@Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @style = "text-decoration:none;" })
						&nbsp;&nbsp;
                            @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @style = "text-decoration:none;" })
						&nbsp;&nbsp;
                            @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @style = "text-decoration:none;", @class = "danger-normal" })
						&nbsp;&nbsp;
					</td>
				</tr>
				}
		</tbody>
	</table>

</div>
