@model EventoWeb.Models.SubeventoModel

@{
    ViewData["Title"] = "CreateOrEdit";
}

<h1 class="blue-normal">Cadastro</h1>
<hr />
<div class="row">
    <div>
        <form asp-action="CreateOrEdit" method="post">
            @if (Model.Id != 0)
            {
                <input type="hidden" name="id" value="@Model.Id" />
            }
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="IdEvento" class="control-label">Evento</label>
                        <select id="IdEvento" name="IdEvento" class="form-control" readonly>
                            @if (Model.Evento == null || Model.Evento.Id == 0)
                            {
                                <option value="0">Não Informado</option>
                            }
                            else
                            {
                                <option value="@Model.Evento.Id" selected>@Model.Evento.Nome</option>
                            }
                        </select>
                        @Html.HiddenFor(model => model.Evento.Id)
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label">Nome</label>
                        <input asp-for="Nome" class="form-control" placeholder="Nome" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="IdTipoEvento" class="control-label">Tipo</label>
                        <select asp-for="IdTipoEvento" class="form-control" asp-items="Model.TiposEventos">
                            <option value="">Escolha Tipo</option>
                        </select>
                        <span asp-validation-for="IdTipoEvento" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Descricao" class="control-label">Descrição</label>
                        <textarea asp-for="Descricao" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>
                </div>
            </div>       
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="DataInicio" class="control-label">Data Início</label>
                            <input asp-for="DataInicio" class="form-control" style="width:13rem; type="date" />
                            <span asp-validation-for="DataInicio" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="DataFim" class="control-label">Data Fim</label>
                            <input asp-for="DataFim" class="form-control" style="width:13rem; type="date" />
                            <span asp-validation-for="DataFim" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3 mt-4">
                        <div class="form-group mb-2">
                            <div class="d-flex align-items-center">
                                <div class="form-check">
                                    <!-- Checkbox que marca se a inscrição será gratuita (valor 1) -->
                                    <input class="form-check-input" type="checkbox" value="1" id="Gratuito" name="Gratuito"
                                    @(Model.InscricaoGratuita == 1 ? "checked" : "")>
                                    <label class="form-check-label" for="UsadaEvento">Gratuito</label>
                                    <!-- Campo oculto para enviar valor 0 quando o checkbox não está marcado -->
                                    <input type="hidden" name="Gratuito" value="0">
                                </div>
                            </div>
                            <span asp-validation-for="InscricaoGratuita" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3 mt-4">
                        <div class="form-group mb-3">
                            <div class="d-flex align-items-center">
                                <div class="form-check">
                                    <!-- Checkbox que marca se o subevento será usado (valor 1) -->
                                    <input class="form-check-input" type="checkbox" value="1" id="Certificado" name="Certificado"
                                    @(Model.PossuiCertificado == 1 ? "checked" : "")>
                                    <label class="form-check-label" for="Usada">Possui certificado</label>
                                    <!-- Campo oculto para enviar valor 0 quando o checkbox não está marcado -->
                                    <input type="hidden" name="Certificado" value="0">
                                </div>
                            </div>
                            <span asp-validation-for="PossuiCertificado" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            <br />        
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Status" class="control-label">Status</label>
                            <select asp-for="Status" class="form-select">
                                <option value="C">Cadastro</option>
                                <option value="A">Ativo</option>
                                <option value="F">Finalizado</option>
                                <option value="I">Inativo</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="DataInicioInscricao" class="control-label">Início das inscrições</label>
                            <input asp-for="DataInicioInscricao" class="form-control" style="width:13rem; type="date" />
                            <span asp-validation-for="DataInicioInscricao" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="DataFimInscricao" class="control-label">Fim das inscrições</label>
                            <input asp-for="DataFimInscricao" class="form-control" style="width:13rem; type="date" />
                            <span asp-validation-for="DataFimInscricao" class="text-danger"></span>
                        </div>
                    </div>
                </div>      
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" id="FrequenciaMinimaCertificado">
                        <label asp-for="FrequenciaMinimaCertificado" class="control-label">Frequência mínima de emissão de certificado</label>
                        <div class="input-group" style="width:10rem;">
                            <input asp-for="FrequenciaMinimaCertificado" class="form-control" style="border-right-style:none;" type="number" value="" step="0.01" min="0" max="100" />
                            <span class="input-group-text" style="background-color:white;">%</span>
                        </div>
                        <span asp-validation-for="FrequenciaMinimaCertificado" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" style="width:13rem;">
                        <label asp-for="VagasOfertadas" class="control-label">Vagas ofertadas</label>
                        <input asp-for="VagasOfertadas" class="form-control" type="number" step="1" min="0" />
                        <span asp-validation-for="VagasOfertadas" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" style="width:13rem;">
                        <label asp-for="CargaHoraria" class="control-label">Carga horária</label>
                        <input asp-for="CargaHoraria" class="form-control" type="number" step="1" min="0" />
                        <span asp-validation-for="CargaHoraria" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" id="valorInscricaoGroup">
                        <span>
                            <label asp-for="ValorInscricao" class="control-label">Menor valor de inscrição (R$)</label>
                            <div class="input-group" style="width:10rem;">
                                <span class="input-group-text" style="background-color:white;">R$</span>
                                <input asp-for="ValorInscricao" class="form-control" style="border-left-style:none;" type="number" id="valorInscricao" />
                            </div>
                        </span>

                    </div>

                </div>
                <span asp-validation-for="ValorInscricao" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <!-- Espaço em branco -->
            </div>
            <div class="d-flex justify-content-end">
                <div class="d-flex flex-row">
                    <div class="form-group" style="margin-right: 10px;">
                        <input type="submit" value="Salvar" class="btn btn-blue-normal color-white" />
                    </div>
                    <div class="form-group">
                        <a asp-controller="Evento" asp-action="GerenciarEvento" asp-route-idEvento="@Model.Evento.Id" class="btn btn-outline-danger">Voltar</a>
                    </div>
                </div>
            </div>
            <br />
        </form>
    </div>
</div>

<script>
    //Marcar e desmarcar checkbox--

    document.getElementById('Gratuito').addEventListener('change', function () {
        this.nextElementSibling.value = this.checked ? 1 : 0; // Ajusta o valor do campo oculto baseado no estado do checkbox
    });
    document.getElementById('Certificado').addEventListener('change', function () {
        this.nextElementSibling.value = this.checked ? 1 : 0; // Ajusta o valor do campo oculto baseado no estado do checkbox
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
