@model EventoWeb.Models.SubeventoCreateModel

@{
    ViewData["Title"] = "CreateOrEdit";
}

<h1 class="blue-normal">Cadastro de SubEvento</h1>
<hr />

<div class="row">
    <div>
        <form asp-action="CreateOrEdit" method="post">
            <input type="hidden" name="idEvento" value="@Model.Evento.Id" />
            @if (Model.Subevento.Id != 0)
            {
                    <input type="hidden" name="idSubevento" value="@Model.Subevento.Id" />
            }
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="IdEvento" class="control-label">Nome</label>
                        <select id="IdEvento" name="IdEvento" class="form-control" readonly>
                            @if (Model.Evento == null || Model.Evento.Id == 0)
                            {
                                    <option value="0">Não Informado</option>
                            }
                            else
                            {
                                    <option value="@Model.Evento.Id" selected>@Model.Evento.Nome</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="form-group">
                        <label asp-for="Subevento.Nome" class="control-label">Nome do evento</label>
                        <input asp-for="Subevento.Nome" class="form-control" placeholder="Nome do sub-evento" />
                        <span asp-validation-for="Subevento.Nome" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Subevento.IdTipoEvento" class="control-label">Tipo de Subevento</label>
                        <select asp-for="Subevento.IdTipoEvento" class="form-control" asp-items="Model.TiposEventos">
                            <option value="">Escolha Tipo de Subevento</option>
                        </select>
                        <span asp-validation-for="Subevento.IdTipoEvento" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="Subevento.Descricao" class="control-label">Descrição</label>
                        <textarea asp-for="Subevento.Descricao" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Subevento.Descricao" class="text-danger"></span>
                    </div>
                </div>
            </div>
            



            <span>
                <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="Subevento.DataInicio" class="control-label">Início do Subevento</label>
                        <input asp-for="Subevento.DataInicio" class="form-control" style="width:13rem; type="date" />
                        <span asp-validation-for="Subevento.DataInicio" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="Subevento.DataFim" class="control-label">Fim do Subevento</label>
                        <input asp-for="Subevento.DataFim" class="form-control" style="width:13rem; type="date" />
                        <span asp-validation-for="Subevento.DataFim" class="text-danger"></span>
                    </div>
                </div>
                
                    <div class="col-md-3 mt-4">
                        <div class="form-group mb-2">
                            <div class="d-flex align-items-center">
                                <div class="form-check">
                                    <!-- Checkbox que marca se a inscrição será gratuita (valor 1) -->
                                    <input class="form-check-input" type="checkbox" value="1" id="Gratuito" name="Subevento.Gratuito"
                                    @(Model.Subevento.InscricaoGratuita == 1 ? "checked" : "")>
                                    <label class="form-check-label" for="UsadaEvento">Gratuito</label>
                                    <!-- Campo oculto para enviar valor 0 quando o checkbox não está marcado -->
                                    <input type="hidden" name="Subevento.Gratuito" value="0">
                                </div>
                            </div>
                            <span asp-validation-for="Subevento.InscricaoGratuita" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3 mt-4">
                        <div class="form-group mb-3">
                            <div class="d-flex align-items-center">
                                <div class="form-check">
                                    <!-- Checkbox que marca se o subevento será usado (valor 1) -->
                                    <input class="form-check-input" type="checkbox" value="1" id="Certificado" name="Subevento.Certificado"
                                    @(Model.Subevento.PossuiCertificado == 1 ? "checked" : "")>
                                    <label class="form-check-label" for="UsadaSubevento">Possui certificado</label>
                                    <!-- Campo oculto para enviar valor 0 quando o checkbox não está marcado -->
                                    <input type="hidden" name="Subevento.Certificado" value="0">
                                </div>
                            </div>
                            <span asp-validation-for="Subevento.PossuiCertificado" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </span>
           

            

            <br />
        <span>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Subevento.Status" class="control-label">Status</label>
                        <select asp-for="Subevento.Status" class="form-select">
                            <option value="C">Cadastro</option>
                            <option value="A">Ativo</option>
                            <option value="F">Finalizado</option>
                            <option value="I">Inativo</option>
                        </select>
                        <span asp-validation-for="Subevento.Status" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Subevento.DataInicioInscricao" class="control-label">Início das Inscrições</label>
                        <input asp-for="Subevento.DataInicioInscricao" class="form-control" style="width:13rem; type="date" />
                        <span asp-validation-for="Subevento.DataInicioInscricao" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Subevento.DataFimInscricao" class="control-label">Fim das Inscrições</label>
                        <input asp-for="Subevento.DataFimInscricao" class="form-control" style="width:13rem; type="date" />
                        <span asp-validation-for="Subevento.DataFimInscricao" class="text-danger"></span>
                    </div>
                </div>
            </div>

            </span>
            <div class="row">
                <div class="col-4">
                    <div class="form-group" id="FrequenciaMinimaCertificado">
                        <label asp-for="Subevento.FrequenciaMinimaCertificado" class="control-label">Frequência Mínima Emissão Certificado</label>
                        <div class="input-group">
                            <input asp-for="Subevento.FrequenciaMinimaCertificado" id="freqmin" onload="percent" class="form-control" type="number" step="0.01" min="0" max="100" />
                        </div>
                        <span asp-validation-for="Subevento.FrequenciaMinimaCertificado" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Subevento.VagasOfertadas" class="control-label">Vagas Ofertadas</label>
                        <input asp-for="Subevento.VagasOfertadas" class="form-control" type="number" step="1" min="0" />
                        <span asp-validation-for="Subevento.VagasOfertadas" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Subevento.CargaHoraria" class="control-label">Carga Horária</label>
                        <input asp-for="Subevento.CargaHoraria" class="form-control" type="number" step="1" min="0" />
                        <span asp-validation-for="Subevento.CargaHoraria" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group" id="valorInscricaoGroup">
                        <span>
                            <label asp-for="Subevento.ValorInscricao" class="control-label">Menor Valor de Inscrição (R$)</label>
                            <div class="input-group" style="width:10rem;">
                                <input asp-for="Subevento.ValorInscricao"  class="form-control" type="number" id="valorInscricao" />
                            </div>
                        </span>

                        </div>

                    </div>
                    <span asp-validation-for="Subevento.ValorInscricao" class="text-danger"></span>
                </div>
            <div class="col-6">
                <!-- Espaço em branco -->
            </div>
            <div class="row">
                <div class="col-10">
                    <!-- Espaço em branco-->
                </div>
            <div class="col-1 mt-4">
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>
            </div>
            <div class="col-1 mt-4">
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                </div>
            </div>
            </div>
    <br />
    </form>
</div>
</div>

<script>
    document.getElementById('Gratuito').addEventListener('change', function () {
        this.nextElementSibling.value = this.checked ? 1 : 0; // Ajusta o valor do campo oculto baseado no estado do checkbox
    });
    document.getElementById('Certificado').addEventListener('change', function () {
        this.nextElementSibling.value = this.checked ? 1 : 0; // Ajusta o valor do campo oculto baseado no estado do checkbox
    });
</script>


<script>

   function percent(){
    const percentInput = document.getElementById('freqmin');
    amountInput.addEventListener('input', function () {
        if (!this.value.startsWith('%')) {
            this.value = this.value + '%';
        }
    });
    const form = document.querySelector('form');
    form.addEventListener('submit', function (event) {
        event.preventDefault();
        const percentValue = this.elements['freqmin'].value.replace('%', '');
    });
    }
</script>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
