@model EventoWeb.Models.SubeventocreateModel

@{
    ViewData["Title"] = "Delete";
}
<div class="container-fluid no-padding">
    <div class="row">
        <div class="breadcrumb">
            <a asp-controller="Home" asp-action="Index" style="text-decoration:none; padding-right:6px">
                <img class="mb-1" style="display:inline-block" src="/img/icon-wrapper.svg" />
                <p class="blue-normal" style="color:#0D6EFD; display:inline-block">Home</p>
            </a>
            <p style="color:#6C757D;display:inline-block;padding-right:6px">/</p>
            <a asp-controller="Subevento" asp-action="Index" style="text-decoration:none; padding-right:6px">
                <p class="blue-normal" style="color:#0D6EFD; display:inline-block">Subevento</p>
            </a>
            <p style="color:#6C757D;display:inline-block;padding-right:6px">/</p>
            <p style="color:#6C757D;display:inline-block">Deletar Subevento</p>
        </div>
        <h1 class="blue-normal">Deletar Subevento</h1>
        <div class="col-md-8">
            <h4>Informções do Subevento</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Subevento.Nome)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Subevento.Nome)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Subevento.IdEvento)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Subevento.IdEvento)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Subevento.Descricao)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Subevento.Descricao)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Subevento.DataInicio)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Subevento.DataInicio)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Subevento.DataFim)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Subevento.DataFim)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Subevento.InscricaoGratuita)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Subevento.InscricaoGratuita)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Subevento.Status)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Subevento.Status)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Subevento.DataInicioInscricao)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Subevento.DataInicioInscricao)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Subevento.DataFimInscricao)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Subevento.DataFimInscricao)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Subevento.ValorInscricao)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Subevento.ValorInscricao)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Subevento.PossuiCertificado)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Subevento.PossuiCertificado)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Subevento.FrequenciaMinimaCertificado)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Subevento.FrequenciaMinimaCertificado)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Subevento.VagasOfertadas)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Subevento.VagasOfertadas)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Subevento.VagasReservadas)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Subevento.VagasReservadas)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Subevento.VagasDisponiveis)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Subevento.VagasDisponiveis)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Subevento.CargaHoraria)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Subevento.CargaHoraria)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Subevento.IdTipoEvento)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Subevento.IdTipoEvento)
                </dd>
            </dl>

            <div class="row justify-content-end">
                <div class="col-2">
                    <div>
                        <a asp-action="Index" class="btn btn-outline-danger">Cancelar</a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <input type="submit" value="Excluir" class="btn btn-blue-normal color-white" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
