@model IEnumerable<EventoWeb.Models.SubeventoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InscricaoGratuita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicioInscricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFimInscricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorInscricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PossuiCertificado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrequenciaMinimaCertificado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VagasOfertadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VagasReservadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VagasDisponiveis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargaHoraria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoEvento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InscricaoGratuita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicioInscricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFimInscricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorInscricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PossuiCertificado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrequenciaMinimaCertificado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VagasOfertadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VagasReservadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VagasDisponiveis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargaHoraria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoEvento)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new {id=item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
