@model IEnumerable<EventoWeb.Models.SubeventoModel>

@{
    ViewData["Title"] = "Index";
}



<div>
    <h1 class="blue-normal">Verifique os Subeventos de seus Eventos!</h1>
    <button type="button" class="btn-blue-normal btn btn-lg mb-2">
        <a asp-action="Create" style="text-decoration:none; color:white">Novo Subevento</a>
    </button>
    <table class="table table-striped">
        <thead class="blue-normal blue-normal-bg-table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    Evento
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    Tipo de Subevento
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeEvento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInicio)
                    </td>
                    <td>
                        @{
                            string statusDescricao = "Desconhecido";
                            switch (item.Status)
                            {
                                case "A":
                                    statusDescricao = "Ativo";
                                    break;
                                case "C":
                                    statusDescricao = "Cadastro";
                                    break;
                                case "F":
                                    statusDescricao = "Finalizado";
                                    break;
                                case "I":
                                    statusDescricao = "Inativo";
                                    break;
                            }
                        }
                        @statusDescricao
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeTipoEvento)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "CreateOrEdit", new {idEvento = item.IdEvento ,idSubevento = item.Id }, new { @style = "text-decoration:none;" })
                        &nbsp;&nbsp;
                        @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @style = "text-decoration:none;", @class = "danger-normal" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>